body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul.nav {
    background-color: turquoise;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nav li {
    border: 1px solid turquoise;
    display: inline-block;
    padding: 10px;
}

ul.nav li:hover {
    background-color: #ccc;
    border-color: #000;
}

ul.nav a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

ul.nav a:hover {
    cursor: pointer;
}

ul.nav a.active {
    text-decoration: underline;
}

form {
    margin: 40px 0 0 40px;
}

form fieldset {
    width: 35%;
}

form legend {
    font-weight: bold;
}

form div {
    margin: 10px;
}

form div label {
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
    width: 120px;
}

form div button.submit {
    margin: 0 5px 0 130px;
}

form div input {
    width: 130px;
}

form.add-receipt fieldset {
    width: 50%;
}

form div#items {
    background: turquoise;
    border-radius: 5px;
    padding: 5px 5px 10px;
}

form div#items h3 {
    display: inline;
    margin: 0 5px 0 0;
}

form div#items ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

form div#items li {
    margin: 5px 0 5px 20px;
}

form div#items label {
    display: inline;
}

form div#items input {
    width: 35px;
}

form div#items input,
form div#items select {
    margin-left: 3px;
}

#error {
    background-color: red;
    border: 1px solid #000;
    color: #fff;
    font-size: 14px;
    margin: 20px 0 0 40px;
    padding: 10px;
    width: 270px;
}

#error p {
    margin: 0;
}

#error ul {
    list-style-type: decimal;
}

