body {
    background-color: blue;
}

.menu {
    background-color: turquoise;
    float: left;
    height: 100%;
    width: 20%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    background-color: white;
    border: 1px solid green;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.menu li:hover {
    background-color: #ccc;
    border-color: #000;
    cursor: pointer;
}

.content {
    background-color: lime;
    float: left;
    height: 100%;
    width: 80%;
}

