body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul.nav {
    background-color: turquoise;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.nav li {
    border: 1px solid turquoise;
    display: inline-block;
    padding: 10px;
}

ul.nav li:hover {
    background-color: #ccc;
    border-color: #000;
}

ul.nav a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

ul.nav a:hover {
    cursor: pointer;
}

ul.nav a.active {
    text-decoration: underline;
}

form {
    margin: 40px 0 0 40px;
/*    margin: 40px auto 0;*/
/*    width: 44%;*/
}

form fieldset {
    width: 35%;
}

form div {
    margin: 10px;
}

form div label {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: right;
    width: 150px;
}

form div#items label {
    display: inline;
}

form div input {
    width: 85px;
}

form div#items input {
    margin-left: 10px;
    width: 35px;
}

form div#items button.remove {
    margin-left: 3px;
}

